@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  /* Color */
  --primary-white: hsl(0, 100%, 100%);
  --primary-purple-100: hsl(275, 100%, 97%);
  --primary-purple-600: hsl(292, 16%, 49%);
  --primary-purple-950: hsl(292, 42%, 14%);
  /* Font size */
  --fs-16: 16px;
  /* Font family */
  --ff-primary: "Work Sans", sans-serif;
  /* Font weight */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  /* Font color */
  --fc-purple-01: hsl(280.9, 83%, 20.9%);
  --fc-purple-02: hsl(295, 6%, 59%);
  --fc-purple-03: hsl(280.9, 83%, 80.9%);
}

body {
  height: 100vh;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--primary-purple-100);
  background-size: cover;
  position: relative;
  gap: 2rem;
}

.header-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 30vh;
  background: url(./assets/images/background-pattern-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
}

main {
  width: 100%;
  max-width: 600px;
  height: 30rem;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Header section */
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 1.25rem;
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  font-weight: var(--fw-400);
  color: var(--primary-purple-950);
  margin-bottom: 1rem;
}

/* Question section */
.border-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
  margin-bottom: 1rem;
}

.accordian-item__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  list-style: none;
  cursor: pointer;
}

.accordian-item__question,
.accordian-item__answer {
  font-family: var(--ff-primary);
  font-size: 16px;
}

.accordian-item__question {
  font-weight: var(--fw-700);
  color: var(--fc-purple-01);
  font-size: 1.15rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.accordian-item__question:active {
  color: var(--fc-purple-03);
}

.accordian-item__answer {
  color: var(--fc-purple-02);
  font-weight: var(--fw-400);
  line-height: 1.25rem;
  padding-bottom: 1rem;
  font-size: medium;
}

/* Smooth opening transition */
details[open] summary ~ * {
  animation: sweep 0.3s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  width: 100%;
}

footer .attribution {
  font-family: var(--ff-primary);
  font-size: 12px;
  font-weight: var(--fw-600);
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Query Section */

/* Media Queries for Tablet in 375px */
@media screen and (min-width: 375px) {
  main {
    max-width: 350px;
    height: 35rem;
    padding: 2rem 1.5rem 0rem;
  }
  .main-header {
    font-size: 1.1rem;
  }
  .main-header__icon {
    width: 2rem;
    height: 2rem;
  }
  .main-header__icon img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .accordian-item__list {
    gap: 0.5rem;
  }
  .accordian-item__question {
    font-size: 1rem;
    width: 14rem;
  }
  .accordian-item__frame {
    width: 1.8rem;
    height: 1.8rem;
  }
  .accordian-item__image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .accordian-item__answer {
    line-height: 1.55rem;
    font-size: 1rem;
    word-spacing: -0.1em;
  }
  footer {
    width: 13rem;
    margin-inline: auto;
  }
}

/* Media Queries for Tablet in 500px */
@media screen and (min-width: 499px) {
  main {
    max-width: 600px;
    height: 35rem;
    padding: 2rem 2rem;
  }
  .main-header {
    font-size: 1.3rem;
  }
  .main-header__icon {
    width: 2rem;
    height: 2rem;
  }
  .main-header__icon img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .accordian-item__list {
    gap: 2rem;
  }
  .accordian-item__question {
    font-size: 1rem;
    width: 15rem;
  }
  .accordian-item__frame {
    width: 2rem;
    height: 2rem;
  }
  .accordian-item__image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .accordian-item__answer {
    max-width: 18rem;
    text-align: justify;
  }
}

/* Media Queries for Tablet in 1025px */
@media screen and (min-width: 1024px) {
  .header-bg {
    height: 35vh;
  }
  main {
    width: 500px;
    max-width: 800px;
    height: 30rem;
    padding: 1.5rem;
  }
  .main-header {
    font-size: 1.5rem;
  }
  .main-header__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .main-header__icon img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .accordian-item__list {
    gap: 0rem;
  }
  .accordian-item__question {
    font-size: 1rem;
    width: 25rem;
    font-weight: var(--fw-700);
  }
  .accordian-item__answer {
    max-width: 25rem;
  }
}

/* Media Queries for Tablet in 1440px */
@media screen and (min-width: 1440px) {
  main {
    padding: 2rem 1.5rem;
  }
  .accordian-item__list {
    gap: 2rem;
  }
}
